---
import SectionTitle from '@/components/ui/SectionTitle.astro';

interface Props {
  contents: string[];
}

const { contents = [] } = Astro.props;
---
<section>
  <SectionTitle>Bio</SectionTitle>
  {contents.map((paragraph) => (
    <div>{paragraph.trim()}</div>
  ))}
</section>
