---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="XR Demo">
  <article class="flex flex-col gap-7">
    <h1 class="text-2xl font-bold">XR eLearning Platform</h1>
    <p>This is a placeholder for the interactive XR project demo.</p>
  </article>
</Layout>
