@import 'tailwindcss';

@layer base {
  body {
    @apply bg-white dark:bg-gray-800;
    @apply text-slate-800 dark:text-white;

    .grid > :nth-last-child(-n + 2) {
      /* Adjust the number based on your items count */
      flex-grow: 1;
    }
    :root {
      /* Your default theme */
      --background: white;
      --foreground: black;
    }

    [data-theme='dark'] {
      --background: black;
      --foreground: white;
    }
  }
}
