---
import { cn } from "@/lib/utils"

const styles = {
  root: cn(
    "flex items-center justify-center",
    "min-h-[80px] px-5 py-3 text-center",
    "animate-pulse italic hover:underline"
  )
}
---

<footer class={styles.root}>
  <span>fysp.eth</span>
  <span aria-hidden="true"> • </span>
  <span>
    "Por que o desenvolvedor levou uma escada para o servidor? Porque o deploy estava nas nuvens!"
  </span>
</footer>
