---
import Layout from '@/layouts/Layout.astro';
import { getExperiences } from '@/server/data';
import BioView from '@/views/BioView.astro';
import ExperiencesView from '@/views/ExperiencesView.astro';
import SocialView from '@/views/SocialView.astro';
import profile from "@/content/profile.json";
import { socials } from '@/content/socials';

const { personal } = profile;
const experiences = await getExperiences();

export const prerender = true;

---

<Layout description={personal.subtitle}>
  <article class="flex flex-col gap-7 md:max-w-lg">
    <section id="bio">
      <BioView personal={personal} />
    </section>
    <section id="experience">
      <ExperiencesView experiences={experiences} />
    </section>
    <section id="social">
      <SocialView socials={socials} />
    </section>
  </article>
</Layout>
