---
import SpaceCatScene from '@/components/scenes/SpaceCatScene.tsx';
---
<article class="flex flex-col gap-7">
  <h1 class="text-2xl font-bold">Space Cat</h1>
  <p>Here is a cute space cat for you to pet. Click it!</p>
  <SpaceCatScene client:visible />
</article>
