---
import 'vanilla-cookieconsent/dist/cookieconsent.css';
import '../../styles/ccElegantBlack.css';
import { config } from './ConsentConfig';
---

<div class="fixed bottom-0 right-0 p-4 space-x-2">
  <button type="button" id="reset-btn" class="bg-gray-200 text-gray-800 px-3 py-1 rounded"
    >Reset plugin</button
  >
  <button type="button" id="toggle-theme-btn" class="bg-gray-200 text-gray-800 px-3 py-1 rounded"
    >Toggle custom theme</button
  >
</div>

<script define:vars={{ config }}>
  import { run, reset } from 'vanilla-cookieconsent';

  document.addEventListener('DOMContentLoaded', () => {
    // Initialize cookie consent
    run(config);

    const resetBtn = document.getElementById('reset-btn');
    const toggleThemeBtn = document.getElementById('toggle-theme-btn');

    resetBtn?.addEventListener('click', () => {
      reset(true);
      run(config);
    });

    // Set the initial theme
    document.body.classList.add('cc--elegant-black');

    toggleThemeBtn?.addEventListener('click', () => {
      document.body.classList.toggle('cc--elegant-black');
    });
  });
</script>
