---
import { cn } from '@/lib/utils';

interface Props {
  class?: string;
  id?: string;
}

const { class: className, id } = Astro.props;
---
<main id={id} class={cn('mx-auto px-4', className)}>
  <slot />
</main>
